* {
    box-sizing: border-box;
    border: 2px solid magenta;
}

body {
    padding: 0%;
    background-image: url('cuttingboard.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Cabin', sans-serif;
}

header {
    font-family: 'BioRhyme', serif;
    background-color: rgb(143, 10, 10);
    color: white;
    text-shadow: 2px 2px rgb(58, 15, 15);
    text-align: center;
    font-size: xx-large;
    box-shadow: 3px 3px 3px #333333;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

img {
    box-shadow: 3px 3px 3px #333333;
    max-width: 500px;
    border-radius: 10px 10px 10px 10px;
}

#randomizer, #cuisine-search {
    display: flex;
    justify-content: center;
}

input {
    width: 45%;
    padding: 20px;
}

button, input {
    border: none;
    height: 100px;
    margin-top: 20px;
    font-size: xx-large;
    border-radius: 10px 10px 10px 10px;
}

button {
    background-color:  rgb(143, 10, 10);
    box-shadow: 2px 2px #333333;
    color: white;
    padding: 30px;
}

#cuisine-submit {
    margin-left: 20px;
}

input {
    box-shadow: 2px 2px #333333;
}

#results-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

pre {
    line-height: 30px;
    max-width: 700px;
    background-color: #ffffff;
    color: black;
    white-space: pre-wrap;
    padding: 20px;
}

h2 {
    font-size: xx-large;
    background-color: #ffffff;
    color: black;
    border-radius: 10px 10px 10px 10px;
}

a {
    margin: auto;
}

li {
    margin-left: auto;
    margin-right: auto;
}

.ingredients {
    max-width: 300px;
    background-color: #ffffff;
    color: black;
    border-radius: 10px 10px;
    padding-top: 10px;
    line-height: 20px;
}

.hidden {
    display: none;
}

